<template>
    <v-app>
        <transition name="fade" mode="out-in">
            <component :is="layout">
                <router-view></router-view>
            </component>
        </transition>
    </v-app>
</template>
<script>
import AuthLayout from "./layouts/AuthLayout";
import MainLayout from "./layouts/MainLayout";
export default {
    name: 'App',
    data () {
        return {
        }
    },
    computed:{
        layout() {
            return (this.$route.meta.layout || 'auth') + '-layout';
        },
    },
    components: {
        AuthLayout,
        MainLayout,
    },
}
</script>
