<template>
    <v-app>
        <v-navigation-drawer
            style="margin: 2vh; height: 96vh; border-radius: 20px;"
            app
            clipped
            v-model="drawer"
            :mini-variant.sync="mini"
            permanent
            color="#C359DE"
        >
            <v-list-item class="px-2">
                <v-btn
                    icon
                    @click.stop="mini = !mini"
                >
                    <v-icon color="white">mdi-menu</v-icon>
                </v-btn>
            </v-list-item>

            <v-divider></v-divider>

            <v-list>
                <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    link
                    :to="item.to"
                >
                    <v-list-item-icon>
                        <v-icon color="white">{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title style="color: white;">{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>

            <template v-slot:append>
                <v-list>
                    <v-list-item @click="onClickLogout">
                        <v-list-item-icon>
                            <v-icon color="white">mdi-power</v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title style="color: white;">Logout</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </template>
        </v-navigation-drawer>

        <v-main>
            <transition name="fade" mode="out-in">
                <v-container>
                    <div style="margin-left: 20px">
                        <router-view/>
                    </div>
                </v-container>
            </transition>
        </v-main>

    </v-app>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: "MainLayout",
        data () {
            return {
                drawer: true,
                items: [
                    { title: 'Todo', icon: 'mdi-clipboard-outline', to: '/' },
                ],
                mini: true,
            }
        },
        methods: {
            ...mapActions('auth', ['logout']),
            onClickLogout()
            {
                this.logout()
                .then(() => {
                    this.$router.push({name: 'login'})
                })
            },

        },
        mounted() {

        }
    }
</script>

<style scoped>
    .fade-enter, .fade-leave-to {
        opacity: 0;
        transform: translateX(2em);
    }
    .fade-enter-active, .fade-leave-active{
        transition: all .3s ease;
    }
    .fill-height-main{
        align-items: start !important;
    }
</style>
