<template>
    <div>
        <v-app id="inspire">
            <v-main>
                <v-container class="fill-height" fluid>
                    <v-row
                        align="center" justify="center"
                        no-gutters
                    >
                        <v-col
                            cols="6"
                            class="hide-card"
                        >
                            <v-card
                                class="rounded-xl card-height"
                                color="purple lighten-1"
                            >
                                <h1 class="title-text">Real Time Todo</h1>
                            </v-card>
                        </v-col>
                        <v-col
                            cols="6"
                            xs="12"
                        >
                            <v-row align="center" justify="center" no-gutters>
                                <v-col cols="12"  class="text-center pa-0">
                                    <v-card style="min-width: 350px" class="elevation-0 mx-auto card-login-height">
                                        <v-card-title style="font-size: 250%;">Log in </v-card-title>
                                        <v-card-text align="start">
                                            <v-form v-model="isValid">
                                                <p style="font-weight:bold; color: black">Email</p>
                                                <v-text-field
                                                    rounded
                                                    dense
                                                    filled
                                                    v-model="loginData.username"
                                                    label="Enter your username"
                                                    name="login"
                                                    type="text">
                                                </v-text-field>
                                                <p style="font-weight:bold; color: black">Password</p>
                                                <v-text-field
                                                    rounded
                                                    dense
                                                    filled
                                                    :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                                    :type="show ? 'text' : 'password'"
                                                    v-model="loginData.password"
                                                    id="password"
                                                    label="Enter your password"
                                                    name="password"
                                                    @click:append="show = !show">
                                                </v-text-field>
                                            </v-form>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn class="rounded-xl"
                                                   style="color: white;"
                                                   @click.prevent="onClickLogin"
                                                   color="purple lighten-2"
                                                   block
                                                   large>Log In</v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    export default {
        name: "Login",
        data() {
            return {
                show: 0,
                loginData: {
                    username: '',
                    password: ''
                },
                isValid: true,
            }
        },
        components: {
        },
        computed: {
        },
        methods: {
            ...mapActions('auth', ['login']),
            onClickLogin()
            {
                this.login(this.loginData)
                    .then((resp) => {
                        this.$router.push({name: 'todo'})
                    })
                    .catch((error) => {
                    })
            },
        },
        created () {
        },
        mounted() {
        }
    }
</script>

<style scoped>
.row {
    height: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-login-height{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-height {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.card-height::before {
    content: '';
    background: url('images/login-decor-element2.svg') no-repeat;
    height: 300px;
    width: 300px;
   position: absolute;
    top: -18px;
    left: -20px;
}

.card-height::after {
    content: '';
    height: 300px;
    width: 300px;

    background: url('images/login-decor-element1.svg') no-repeat;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.title-text {

    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {

    .hide-card {
        display: none;
    }
}
</style>
