<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-data-table
                    :headers="headers"
                    :items="todos"
                    :item-class="itemColor"
                    :loading="loading"
                    class="elevation-0"
                >
                    <template v-slot:item.done="{ item }">
                        <v-btn
                            depressed
                            color="primary"
                            :disabled="!!item.completed"
                            @click="completeTodo(item)"
                        >
                            complete
                        </v-btn>
                    </template>

                    <template v-slot:item.delete="{ item }">
                        <v-btn
                            depressed
                            color="error"
                            :disabled="!(!!item.completed)"
                            @click="deleteTodo(item)"
                        >
                            delete
                        </v-btn>

                    </template>
                </v-data-table>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="9">
                <v-text-field
                    v-model="newTask"
                    filled
                    label="Filled"
                    clearable
                ></v-text-field>
            </v-col>
            <v-col cols="3">
                <v-btn
                    depressed
                    xlarge
                    @click="addTodo"
                >
                    create
                </v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from 'vuex'
export default {
    name: "Todo",
    data () {
        return {
            headers: [
                { text: 'Task', value: 'title' },
                { text: 'Done', value: 'done' },
                { text: 'Delete', value: 'delete' },
            ],
            loading: false,
            newTask: '',
        }
    },
    watch: {

    },
    computed: {
        ...mapGetters('tasks', ["todos"]),
    },
    methods: {
        ...mapActions('tasks', ['getTasks', 'addTask', 'updateTask', 'deleteTask']),
        ...mapMutations('tasks', ['addTodoMutation', 'deleteTodoMutation', 'completeTaskMutation']),
        deleteTodo(item){
            this.deleteTask(item);
        },
        addTodo(item){
            this.addTask({title: this.newTask});
        },
        completeTodo(item){
            this.updateTask(item);
        },
        itemColor(item){
            return !item.completed ? '' : 'grey'
        }
    },
    mounted () {
        this.getTasks();

        window.Echo.channel("newTask").listen(".task-created", e => {
            this.addTodoMutation(e.task);
        });

        window.Echo.channel("taskRemoved").listen(".task-removed", e => {
            this.deleteTodoMutation(e.task);
        });

        window.Echo.channel("taskDone").listen(".task-done", e => {
            this.completeTaskMutation(e.task);
        });
    },
}
</script>

<style>
.v-text-field__details {
    display: none !important;
}
</style>
